[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/NAVIS_Project/backend
ExecStart=/home/ubuntu/NAVIS_Project/backend/venv/bin/gunicorn --access-logfile - --workers 1 --timeout 120 --bind unix:/home/ubuntu/NAVIS_Project/backend/gunicorn.sock navis_server.wsgi:application
EnvironmentFile=/home/ubuntu/NAVIS_Project/.env
[Install]
WantedBy=multi-user.target